body {
  height: 100%;
  background-color: #fff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  line-height: 44px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

a {
  margin-right: auto;
  margin-left: auto;
  color: #0ab243;
  text-align: center;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin-top: 50px;
  padding: 4px 15px;
  float: left;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button.teambutton {
  display: none;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  background-color: #f3840e;
  box-shadow: none;
  font-family: Lato, sans-serif;
}

.button.syhbutton {
  border-radius: 10px;
  background-color: #f3840e;
}

.button.epcbutton {
  border-radius: 10px;
  background-color: #f3840e;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.navmenu {
  margin-top: 20px;
}

.navlink {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.navlink.seeklink {
  -webkit-transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: color 500ms ease, transform 500ms ease;
  transition: color 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
  color: #565656;
}

.navlink.seeklink:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #f3320e;
  font-weight: 400;
}

.navlink.aboutlink {
  -webkit-transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, color 500ms ease;
  transition: transform 500ms ease, color 500ms ease, -webkit-transform 500ms ease;
  color: #565656;
}

.navlink.aboutlink:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #f3840e;
}

.navlink.connectlink {
  -webkit-transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, color 500ms ease;
  transition: transform 500ms ease, color 500ms ease, -webkit-transform 500ms ease;
  color: #565656;
}

.navlink.connectlink:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #0e7698;
}

.navlink.supportlink {
  -webkit-transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: color 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, color 500ms ease;
  transition: transform 500ms ease, color 500ms ease, -webkit-transform 500ms ease;
  color: #565656;
}

.navlink.supportlink:hover {
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  color: #0ab243;
}

.herosection {
  display: none;
  height: 100%;
  margin-top: 0px;
  background-image: url('../images/IMG_0722.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.seeksection {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 250px;
}

.seeksection.ourproductsection {
  padding-bottom: 250px;
}

.seeksection.forpharmsection {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.seeksection.forindividualssec {
  height: 100%;
  padding-top: 205px;
  padding-bottom: 300px;
}

.seeksection.forhospitals {
  height: 100%;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.seeksection.ourproductspage {
  height: 100%;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.seeksection.healthfitness {
  padding-bottom: 100px;
}

.seeksection.gymhealth {
  padding-bottom: 100px;
}

.heroheader {
  margin-top: 250px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

.heroheader2 {
  display: block;
  margin: 50px auto 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

.seekheader1 {
  color: #f3320e;
  font-size: 35px;
  font-weight: 400;
  text-transform: none;
}

.seekparagraph {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 36px;
}

.seekparagraph.forpharmtext {
  color: #333;
}

.seekparagraph.forindivpara {
  color: #333;
}

.seekimage {
  position: absolute;
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.seektextlinks {
  display: inline-block;
  color: #f3320e;
  text-decoration: none;
}

.about {
  margin-top: 90px;
  padding-top: 45px;
  padding-bottom: 50px;
  border-top: 2px solid rgba(243, 132, 14, .09);
  background-color: #f9f9f9;
}

.aboutheading {
  color: #f3840e;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.seek {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 2px solid rgba(243, 50, 14, .09);
}

.aboutparagraph {
  font-size: 18px;
  line-height: 36px;
  text-align: left;
}

.aboutparagraph.learnmoreepcparagraph {
  text-align: left;
}

.team {
  margin-bottom: 0px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}

.imagewrapper {
  padding: 20px;
}

.infowrapper {
  padding: 0px 10px 10px;
}

.name {
  font-family: Lato, sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.jobtitle {
  font-family: Lato, sans-serif;
  color: #f3840e;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.employeeimage {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.divbutton {
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  text-align: center;
}

.missionstatement {
  padding-bottom: 100px;
}

.aboutheading1 {
  margin-top: -15px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: #f3840e;
  line-height: 88px;
  text-transform: uppercase;
}

.aboutparagraph1 {
  font-size: 18px;
  line-height: 36px;
}

.missionrow {
  display: block;
  margin: 0px auto 250px;
}

.abouttextlinks {
  display: inline-block;
  color: #f3840e;
  text-decoration: none;
}

.connect {
  min-width: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.connectheading {
  color: #0e7698;
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
}

.connectheading.supportheading {
  color: #0ab243;
}

.connectheading.supportheading.termsprivacyheading {
  font-weight: 700;
  text-align: left;
}

.connectheading.supportheading.termsprivacyheading.termsprivacyheading2 {
  font-size: 25px;
  font-weight: 700;
}

.connectheading.supportheading.termsprivacyheading.termsprivacyheading3 {
  font-size: 20px;
  font-weight: 700;
}

.connectparagraph {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.connecticon {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.connectheading1 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #0e7698;
  font-size: 28px;
  text-align: center;
}

.connectheading1.supportheading1 {
  margin-top: 0px;
  color: #0ab243;
}

.connectdetails {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.connectrow {
  margin-top: 50px;
}

.support {
  margin-top: 90px;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
  font-family: Lato, sans-serif;
}

.footer {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f9f9f9;
  background-image: url('../images/FooterBG-01.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.footerlink {
  display: inline-block;
  margin: 500px 65px 50px;
  padding: 0px;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  font-family: Lato, sans-serif;
  color: #565656;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.footerlink:hover {
  color: #565656;
}

.footertext {
  font-family: Lato, sans-serif;
  color: #565656;
  font-weight: 700;
  text-align: center;
}

.diagram-31 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}

.syhdivblock {
  margin-top: 0px;
  padding-top: 97px;
}

.learnmoreepcparagraph {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}

.learnmoreepcheader {
  font-family: Montserrat, sans-serif;
  color: #f3840e;
  font-size: 35px;
  text-align: left;
  text-transform: capitalize;
}

.syhheader {
  color: #f3840e;
  font-size: 36px;
  text-transform: capitalize;
}

.syhparagraph {
  line-height: 36px;
}

.formtextlabel {
  font-family: Lato, sans-serif;
  color: #0ab243;
  font-weight: 700;
}

.textfield {
  width: 500px;
  font-family: Lato, sans-serif;
}

.connectlink {
  color: #0e7698;
}

.ourproductimage {
  padding-left: 0px;
}

.list {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 36px;
}

.linkedin {
  display: block;
  padding-top: 0px;
  padding-bottom: 10px;
}

.hiddenemployeebox {
  display: none;
}

.contactusbutton {
  border-radius: 10px;
  background-color: #0ab243;
}

.comingsoon {
  text-transform: capitalize;
}

.iconlink {
  display: block;
  width: 124px;
  height: 124px;
  background-image: url('../images/journalarticle_blue_48px.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.iconlink.communitylink {
  background-image: url('../images/community_blue_48.svg');
}

.iconlink.apilink {
  background-image: url('../images/api_blue_48px.svg');
}

.iconlink.securitylink {
  background-image: url('../images/lock_green_48px.svg');
}

.iconlink.helplink {
  background-image: url('../images/help_green_48px.svg');
}

.iconlink.termsprivacylink {
  background-image: url('../images/terms & privacy_green_48px.svg');
}

.iconlink.contactuslink {
  background-image: url('../images/phone_green_48px copy.svg');
}

.learnmorelink {
  color: #f3840e;
}

.ddlist.w--open {
  top: 70px;
  bottom: auto;
  background-color: #fff;
  font-family: Lato, sans-serif;
  color: #565656;
}

.ddlink {
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.ddlink:hover {
  -webkit-transform: translate(5px, 0px);
  -ms-transform: translate(5px, 0px);
  transform: translate(5px, 0px);
}

.ourproductslink {
  color: #f3320e;
  font-size: 16px;
  letter-spacing: 0px;
}

.healthfitnesscol {
  padding-top: 0px;
}

.gymhealthimage {
  overflow: visible;
}

.pagepreview {
  position: absolute;
  left: 0px;
  top: 32px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: auto;
  width: auto;
  height: 265px;
}

.forhospitalslink {
  color: #f3320e;
}

.gymhealthlink {
  color: #f3320e;
}

.footlinkblock {
  text-align: center;
}

.fullpage {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 0;
  overflow: scroll;
}

.topnav {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  overflow: visible;
  max-width: 100%;
  opacity: 1;
}

.navblock {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: visible;
  width: auto;
  height: 248px;
  float: none;
  clear: none;
}

.sidenav {
  position: absolute;
  left: 0px;
  top: 33px;
  z-index: 1;
}

.sidenav.desktop {
  top: 31px;
}

.signinlink {
  color: #f3320e;
}

.heroslider {
  height: 100%;
}

.sliderimage {
  position: relative;
  display: inline-block;
}

.sliderimage._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline;
  height: 100%;
}

.heroimageslider {
  height: 100%;
}

.hero-slider-image-1 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Image001.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Image001.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.hero-slider-image-1._2 {
  background-image: none;
}

.hero-slider-image-2 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Image002.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Image002.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heroimagetype {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.textcontainer {
  display: block;
}

.textblock {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  padding-right: auto;
  padding-left: 150px;
}

.hero-slider-image-3 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Image003.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Image003.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.hero-slider-image-4 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/Image004.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../images/Image004.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.hero-slider-image-5 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/Image005.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/Image005.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.hero-slider-image-6 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/Image006.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .25)), url('../images/Image006.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

html.w-mod-js *[data-ix="display-none-on-load"] {
  display: none;
}

html.w-mod-js *[data-ix="display-none-navi"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

html.w-mod-js *[data-ix="load"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="herotextload"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="scrollload"] {
  opacity: 0;
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
}

@media (max-width: 991px) {
  .navmenu {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    text-align: center;
  }
  .navlink.seeklink {
    text-align: center;
  }
  .navlink.aboutlink {
    text-align: center;
  }
  .navlink.connectlink {
    text-align: center;
  }
  .navlink.supportlink {
    text-align: center;
  }
  .seeksection.forindividualssec {
    margin-bottom: 0px;
  }
  .heroheader {
    margin-top: 200px;
  }
  .aboutheading1 {
    font-size: 38px;
  }
  .footer {
    height: auto;
    background-position: 50% 50%;
    background-size: cover;
  }
  .footerlink {
    margin-right: 10px;
    margin-left: 60px;
  }
  .mobiicon {
    margin-top: 10px;
    color: #565656;
    font-size: 50px;
  }
  .pagepreview {
    top: 26px;
    height: 210px;
  }
  .topnav {
    left: 0px;
    top: 0px;
    right: 0px;
  }
  .sidenav {
    position: absolute;
    top: 26px;
  }
  .sidenav.desktop {
    top: 24px;
  }
  .textblock {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-top: 10px;
  }
  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navlink.seeklink {
    padding-right: 20px;
    text-align: center;
  }
  .navlink.supportlink {
    padding-right: 20px;
  }
  .seeksection.forindividualssec {
    margin-bottom: 0px;
  }
  .seeksection.gymhealth {
    height: 100%;
    padding-bottom: 400px;
  }
  .heroheader {
    margin-top: auto;
  }
  .heroheader2 {
    margin-top: 10px;
  }
  .seekheader1 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 28px;
  }
  .seekparagraph {
    padding-right: 10px;
    padding-left: 10px;
  }
  .seekimage {
    position: static;
  }
  .about {
    padding-right: 20px;
    padding-left: 20px;
  }
  .aboutheading1 {
    margin-top: -12px;
    font-size: 28px;
    line-height: 56px;
  }
  .abouttextlinks {
    text-align: left;
  }
  .connectparagraph {
    padding-right: 10px;
    padding-left: 10px;
  }
  .support.comingsoon {
    height: 100%;
  }
  .footer {
    background-position: 50% 50%;
  }
  .footerlink {
    margin-top: 200px;
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 4px;
    padding-left: 4px;
    text-align: center;
  }
  .learnmoreepcparagraph {
    padding-right: 10px;
    padding-left: 10px;
  }
  .form {
    padding-right: 10px;
    padding-left: 10px;
  }
  .comingsoon {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mobiicon {
    font-size: 45px;
  }
  .pagepreview {
    top: 39px;
    display: block;
    overflow: auto;
    width: 500px;
    height: 290px;
    margin-right: auto;
    margin-left: auto;
  }
  .footlinkblock {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .fullpage {
    overflow: visible;
  }
  .topnav {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: visible;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .sidenav.mobile {
    left: 14px;
    top: 39px;
    bottom: 37px;
  }
  .textblock {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 50px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-top: 10px;
  }
  .seeksection.forpharmsection {
    height: auto;
    margin-top: 150px;
    background-color: #f9f9f9;
  }
  .seeksection.forhospitals {
    background-color: #f9f9f9;
  }
  .seeksection.ourproductspage {
    margin-top: 50px;
    background-color: #f9f9f9;
  }
  .seeksection.gymhealth {
    height: 100%;
    padding-bottom: 300px;
  }
  .heroheader {
    margin-top: auto;
  }
  .heroheader2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .about {
    height: auto;
    padding-bottom: 67px;
  }
  .aboutparagraph {
    padding-right: 10px;
    padding-left: 10px;
  }
  .aboutheading1 {
    margin-top: -3px;
    font-size: 28px;
    line-height: 36px;
  }
  .aboutparagraph1 {
    line-height: 30px;
  }
  .abouttextlinks {
    text-align: left;
  }
  .connectheading.supportheading.termsprivacyheading {
    padding-left: 10px;
  }
  .footer {
    background-color: #f9f9f9;
    background-position: 50% 50%;
  }
  .footerlink {
    display: block;
    margin: 20px auto;
    padding-right: 2px;
    padding-left: 2px;
  }
  .textfield {
    width: auto;
  }
  .ourproductimage {
    display: block;
  }
  .forhospitalsimage {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .mobiicon {
    font-size: 45px;
  }
  .pagepreview {
    top: 89%;
    width: 93%;
    height: 200px;
  }
  .sidenav.mobile {
    top: 85%;
  }
  .textblock {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 80px 10px;
  }
}